*{
    margin: 0;
    padding: 0;
    
}

/* shared style */
.container{
    width: 83%;
    max-width: 1320px;
    margin: 50px auto;
    border-radius: 16px;
    font-family: 'Merriweather', serif;

    
}
.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 12px 32px;
    background-color: #F00;
    outline: none;
    border: none;
    margin-top: 30px;

}
.p-primary{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; 
}


/* head section styles */

.banner{
    
    position: relative;
    z-index: 1;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(./assets/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;

}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 175px 280px;
   

}
.heading h1{
    text-align: center;
    font-family: Merriweather;
    font-size: 62px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}
.heading h4{
    text-align: center;
    font-size: 27px; 
    font-weight: 400;

}



/* discount offer section styles */

.discount{
    
    font-family: 'Inter', sans-serif;
    width: 100%;
    text-align: center;
    margin: 120px 0;
}
.discount h1{
    color: #F00;
    font-size: 70px;
    font-weight: 700;
    
}
.discount-box h1,.discount-des,.discount-img{
  margin-bottom: 47px;
}
 .discount-box .discount-des h4{
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
 }
 .discount-box .discount-des h2{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
 }
 .discount-box  .discount-img img{
    width: 50%;
    max-width: 800px;
 }

 /* party section style.... */
 
 .party{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url(./assets/Vectorrr.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    margin-bottom: 90px;
    
   

 }
 .party .party-div{
    display: flex;
    padding: 100px ;
    align-items: center;
    justify-content: space-between;
 }
 .party .party-div .party-welcome{
    max-width: 650px;
 }
 
 .party .party-div .party-welcome h1{
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 53px;
    font-weight: 900;
    line-height: 72px; 
    letter-spacing: 7.04px;
    margin-bottom: 24px;
 }
 .party .party-div .party-welcome p{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
 }
 .party .party-div .party-welcome button{
    color: #ccbebe;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 8px 12px;
    border:1px solid rgb(128, 23, 23);
    background: none;

 }


 /* location section */

 .location {
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    
}
.location .location-div{
    padding: 100px 315px;
    text-align: center;
    font-family: Inter;
}
.location-div span{
    color: #F00;
}
.location-div h2{
    font-size: 27px;
    color: #070211;
    line-height: 55px;

}


/* best offer section */

.best-offer{
  width: 83%;
  margin: 120px auto;
}
.best-offer .offer-details{
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 100px;
   
}
.offer-details .offer-details-left{
    max-width: 320px;
}
.best-offer .offer-details .offer-details-left h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    
}
.best-offer .offer-details .offer-details-left h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 17px 0;
}
.best-offer .offer-details .offer-details-middle img{
    border: 10px solid #F00;
    border-radius: 50%;
    padding: 30px;
    max-width: 300px;
}
.offer-details .offer-details-right h1{
    color: #F00;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
 .offer-details .offer-details-right img{
    margin-top: 25px;
 }


 /* holiday offer */
 .holiday-offer{
   margin-bottom: 100px;
 }
 .holiday-offer .holiday-heading{
    text-align: center;
    max-width: 880px;
    margin: 0px auto;
 }
 .holiday-heading h3{
    color: #070211;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
 }
 .holiday-heading h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    margin: 20px 0;
 }
 .holiday-heading h1>span{
    color: #F00;
    
 }
 
/* portfolio section */

.portfolio{
  margin-bottom: 100px;
}
.portfolio-imgs{
    margin: 0px auto;
   
}
 .portfolio-imgs img{
    max-width: 350px;
    transition: 500ms;
    
}
.portfolio-imgs img:hover{
    transform: rotate(5deg);
  
}
.common-img{
    padding: 0 20px;
}
.img-c{
    padding-top: 20px;
}
.portfolio h3{
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}
.portfolio h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 16px 0;
}
.portfolio p{
    max-width: 730px;
    margin-bottom: 18px;
}


/* subscribe section */
.subscribe{
   
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 70px 0;
    
}
.subscribe-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe img{
    max-width: 120px;
}
.subscribe h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 18px 0;
}
.subscribe p{
    max-width: 730px;
    text-align: center;
}
.subscribe-form{
    margin-top: 40px;
}
.subscribe-container .subscribe-form input{
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 16px 30px;
    outline: none;
}
.subscribe-container .subscribe-form button{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 16px 25px;
    margin-left: -5px;
}